header {
  display: flex;
  flex-direction: row;
  height: 40rem;
}

.header-left {
  background-color: #4731d3;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.left-content {
  width: 80%;
  display: flex;
}

.header-right {
  background-color: #cbf281;
  width: 25%;
  padding: 10px;
}

.header-img {
  position: absolute;
  background-image: url(../../public/header-img.jpg);
  width: 300px;
  height: 300px;
  margin-top: 200px;
  border-radius: 5px;
}

.language {
  display: flex;
  justify-content: flex-end;
  color: yellowgreen;

}

section {
  display: flex;
  padding: 5% 20%;
}

section h3 {
  color: #4832D3;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03rem;
  padding-top: 5%;
  width: 25%;
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
}

.skill {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.skill img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.375rem;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.skill .redux {
  background: #764ABC;
  border-radius: 0.375rem;
}

.skill p {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  margin-left: 3rem;
  color: #777;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

.profile {
  background-color: #4731d3;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  padding-bottom: 3%;
}

.profile h3 {
  color: #CBF281;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.03rem;
  padding-top: 5%;
}

.profile-detail {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.detail-img {
  margin: 0 5%;
  width: 22rem;
  height: 22rem;
  border-radius: 0.625rem;
  background: url('../img2/profile.png');
  background-position: center;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.detail {
  margin-top: 3%;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  align-self: stretch;
}

.detail h4 {
  color: #FFF;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.detail p {
  margin-top: 5%;
  width: 80%;
  color: #FFF;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.6875rem */
}

.detail .row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.row .row-title {
  color: #CBF281;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.01rem;
  width: 10rem;
}

.row .row-content {
  color: #FFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.01rem;
  display: flex;
}

.projects {
  background: #CBF281;
  height: 62.4375rem;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}

.projects h3 {
  color: #4731D3;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 3rem */
  letter-spacing: 0.03rem;
  padding: 5% 0;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  background: #FFF;
  margin-bottom: 5%;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.project img {
  width: 22.5rem;
  height: 22.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem 0rem 0rem 0.75rem;
  border-right: 1px solid #D2D2D2;
}

.project-title {
  color: var(--default-indigo-700, #4338CA);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 2rem */
}

.project-info {
  padding-left: 5%;
}

.project-info p {
  color: #383838;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 1.25rem */
  padding: 5% 0%;
}

.project-techs span {
  border-radius: 1.4375rem;
  background: #4731D3;
  color: #FFF;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 0.875rem */
  letter-spacing: -0.04375rem;
  padding: 0.5rem 1.125rem 0.5625rem 1.125rem;
  margin-right: 3%;
}

.project-links {
  padding-top: 5%;
}

.project-links a {
  margin-right: 3%;
  color: #120B39;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 100% */
  text-decoration-line: underline;
}

.contact{
  background: #FFF;
  padding: 5% 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h5{
  color: #4731D3;
font-family: Inter;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 4.5rem; /* 150% */
}

.contact p{
  color: #120B39;
text-align: center;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.25rem */
width: 50%;
margin-top: 1.5rem;
}

.contact a{
  color: #4731D3;
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.0625rem;
text-decoration-line: underline;
margin-top: 1.5rem;
}