  section {
    display: flex;
    padding: 5% 20%;
  }

  section h3 {
    color: #4832D3;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    padding-top: 5%;
    width: 25%;
  }

  .skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
  }

  .skill {
    display: flex;
    flex-direction: row;
    margin: 5%;
  }

  .skill img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.375rem;
    box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  }

  .skill .redux {
    background: #764ABC;
    border-radius: 0.375rem;
  }

  .skill p {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    margin-left: 3rem;
    color: #777;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
  }